<div class="redirect-container">
  <div class="redirect-container-logo">
    <img src="../../../assets/images/logo.png" alt="" />
  </div>
  <h2 class="redirect-container-instruction">
    Oops! Não identificamos sua mesa no nosso Sistema Solar...
  </h2>
  <div class="redirect-container-icon">
    <img src="../../../assets/images/redirect/astronaut-redirect.png" alt="" />
  </div>
  <div class="redirect-info-container"></div>
  <h2 class="redirect-container-acess-menu">
    Por favor, scaneie novamente o QR Code ou cosulte um colaborador.
  </h2>
</div>
