<div class="admin-products-add">
  <form class="admin-products-add-form" (ngSubmit)="handleAddCategory()">
    <div class="admin-products-add-form-body">
      <app-upload-image
        [align]="'center'"
        [size]="'lg'"
        [control]="image"
      ></app-upload-image>
      <app-input label="Nome:" [control]="name"></app-input>
      <app-input label="Descrição:" [control]="description"></app-input>
      <app-input label="Preço:" type="number" [control]="price"></app-input>
      <app-select
        label="Categoria:"
        [items]="categoriesOptions"
        [control]="category_id"
      ></app-select>
    </div>
    <app-button type="submit" [disabled]="loading || !form.valid"
      >Adicionar</app-button
    >
  </form>
</div>
