<div class="system-menu-order">
  <div class="system-menu-order-image">
    <img [src]="product.image" alt="Imagem de Produto" />
  </div>
  <div class="system-menu-order-description" *ngIf="product.description">
    <p>
      {{ product.description }}
    </p>
  </div>
  <form
    class="system-menu-order-form"
    (ngSubmit)="handleMakeOrder()"
    *ngIf="systemAuthService.valid"
  >
    <div class="system-menu-order-form-body">
      <app-input
        type="number"
        label="Quantidade:"
        [control]="quantity"
      ></app-input>
      <app-textarea
        label="Observações:"
        [control]="description"
        placeholder="Caso deseje sem mostarda ou maionese, por exemplo..."
      ></app-textarea>
    </div>
    <app-button type="submit" [disabled]="loading || !form.valid">
      FAZER PEDIDO
    </app-button>
  </form>
</div>
