<div class="system-order-modal">
  <div class="system-order-modal-image">
    <img
      src="../../../assets/images/menu/hamburger-destaque.jpg"
      alt="Imagem de Produto"
    />
  </div>
  <div class="system-order-modal-description">
    <p>
      Pão com gergelim, 2 hambúrgueres, tomates, alface e fatias de cheddar.
    </p>
  </div>
  <div class="system-order-modal-optional-header">
    <h2>Deseja algum adicional?</h2>
  </div>
  <div class="system-order-modal-optional">
    <div class="system-order-modal-optional-item">
      <div class="system-order-modal-optional-item-image">
        <img
          src="../../../assets/images/menu/bacon.jpg"
          alt="Fatias de Bacon"
        />
      </div>
      <div class="system-order-modal-optional-item-name">
        <p>Bacon</p>
      </div>
      <div class="system-order-modal-optional-item-input">
        <div class="system-order-modal-optional-item-input-minus">-</div>
        <div class="system-order-modal-optional-item-input-quantity">0</div>
        <div class="system-order-modal-optional-item-input-plus">+</div>
      </div>
    </div>
    <div class="system-order-modal-optional-item">
      <div class="system-order-modal-optional-item-image">
        <img
          src="../../../assets/images/menu/bacon.jpg"
          alt="Fatias de Bacon"
        />
      </div>
      <div class="system-order-modal-optional-item-name">
        <p>Bacon</p>
      </div>
      <div class="system-order-modal-optional-item-input">
        <div class="system-order-modal-optional-item-input-minus">-</div>
        <div class="system-order-modal-optional-item-input-quantity">0</div>
        <div class="system-order-modal-optional-item-input-plus">+</div>
      </div>
    </div>
    <div class="system-order-modal-optional-item">
      <div class="system-order-modal-optional-item-image">
        <img
          src="../../../assets/images/menu/bacon.jpg"
          alt="Fatias de Bacon"
        />
      </div>
      <div class="system-order-modal-optional-item-name">
        <p>Bacon</p>
      </div>
      <div class="system-order-modal-optional-item-input">
        <div class="system-order-modal-optional-item-input-minus">-</div>
        <div class="system-order-modal-optional-item-input-quantity">0</div>
        <div class="system-order-modal-optional-item-input-plus">+</div>
      </div>
    </div>
  </div>
  <div class="system-order-modal-obs">
    <h3>Observações:</h3>
    <textarea
      name=""
      id=""
      cols="30"
      rows="10"
      placeholder="Caso deseje sem mostarda ou maionese, por exemplo..."
    ></textarea>
  </div>
  <div class="system-order-modal-ordering">
    <app-button size="normal" type="submit">FAZER PEDIDO</app-button>
  </div>
</div>
