.app-btn {
  padding: 8px 16px;
  background-color: #20170E;
  color: #FBFBFB;
  border-radius: 6px;
  cursor: pointer;

  &.small {
    font-size: 14px;
  }

  &.normal {
    font-size: 18px;
  }

  &.large {
    font-size: 24px;
  }
}