.app-btn {
  padding: 8px 16px;
  background-color: #C70000;
  color: #FBFBFB;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &:disabled{
    opacity: 0.3;
  }
  
  &:hover{
    background-color: #530f0f;
  }

  &.small {
    font-size: 14px;
  }

  &.normal {
    font-size: 18px;
  }

  &.large {
    font-size: 24px;
  }
}