<app-system-body>
  <div class="system-call_waiter" *ngIf="!loading">
    <div class="system-call_waiter-container">
      <div class="system-call_waiter-container-title">
        <h1>Chamar um garçom</h1>
        <p>Você pode solicitar um garçom pressionando o botão abaixo.</p>
      </div>
      <div class="system-call_waiter-container-icon">
        <img
          width="180"
          alt="Emojione 1F6CE"
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Emojione_1F6CE.svg/512px-Emojione_1F6CE.svg.png"
        />
      </div>
      <div class="system-call_waiter-container-confirm">
        <app-button size="large" (clicked)="handleCallWaiter()">
          CHAMAR GARÇOM
        </app-button>
      </div>
    </div>
  </div>
</app-system-body>
