<div class="admin-tables-edit" *ngIf="table">
  <form class="admin-tables-edit-form" (ngSubmit)="handleSaveTable()">
    <div class="admin-tables-edit-form-body">
      <app-input label="Nome:" [control]="name"></app-input>
      <div class="admin-tables-edit-form-body-qr_code">
        <img [src]="table.qr_code" alt="Qr code" />
      </div>
    </div>
    <app-button type="submit" [disabled]="loading || !form.valid"
      >Salvar</app-button
    >
  </form>
  <div class="admin-tables-edit-orders" *ngIf="table.orders.list.length > 0">
    <div class="admin-tables-edit-orders-list">
      <p
        *ngFor="let order of table.orders.list"
        [class.canceled]="order.status === 'canceled'"
      >
        {{ order.product_quantity + "x" }} {{ order.product_name }} -
        {{ order.status | orderStatus }} - {{ order.price_total | currency }}
      </p>
    </div>
    <div class="admin-tables-edit-orders-total">
      Total: {{ table.orders.total_price | currency }}
    </div>
    <div class="admin-tables-edit-orders-actions">
      <app-button
        [disabled]="!table.orders.can_finish"
        (clicked)="handleFinishTable()"
      >
        Finalizar Mesa
      </app-button>
      <app-button (clicked)="handleCancelTable()">Cancelar Mesa</app-button>
    </div>
  </div>
</div>
