<app-system-body>
  <div class="system-tab">
    <div class="system-tab-container" *ngIf="!loading">
      <div class="system-tab-container-title">
        <h1>Revise o seu pedido</h1>
        <h2>Total de itens: {{ table.orders.list.length }}</h2>
        <!-- chumbado (precisa contar o índice no ngFor, algo assim)-->
      </div>
      <div class="system-tab-container-list">
        <div
          class="system-tab-container-list-item making"
          *ngFor="let order of table.orders.list"
        >
          <div>{{ order.product_quantity + "x" }}</div>
          <div>{{ order.product_name }}</div>
          <div>{{ order.price_total }}</div>
          <div>{{ order.status | orderStatus }}</div>
          <div>X</div>
        </div>
      </div>
      <div class="system-tab-container-total">
        <p>TOTAL:</p>
        <div>{{ table.orders.total_price | currency }}</div>
      </div>
      <div class="system-tab-container-confirm">
        <app-button size="normal" type="submit" (clicked)="handleFinishTab()">
          PEDIR A CONTA
        </app-button>
      </div>
    </div>
  </div>
</app-system-body>
