<div class="app-admin-sidebar" [class.showing]="status" #sidebar>
  <div class="app-admin-sidebar-container">
    <ng-container *ngFor="let sidebarItem of sidebarItems">
      <div
        class="app-admin-sidebar-card"
        *ngIf="adminAuthorizerService.hasRoutePermission(sidebarItem.route)"
        [class.selected]="isSelected(sidebarItem.route)"
      >
        <a
          [routerLink]="sidebarItem.route"
          (click)="adminSidebarService.status = false"
        >
          <i class="bi" [ngClass]="sidebarItem.icon"></i>
          <p>{{ sidebarItem.label }}</p>
        </a>
      </div>
    </ng-container>
  </div>
</div>
<div
  class="app-admin-sidebar-hider"
  [class.showing]="status"
  (click)="adminSidebarService.status = false"
></div>
