.app-admin-sidebar {
  width: 50px;
  height: 100%;
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  left: 0px;
  z-index: 300;
  position: relative;

  &-container{
    background-color: #563b20;
    width: 100%;
    height: 100%;
    position: absolute;
    transition: width 0.5s ease-in-out;
    display: flex;
    flex-direction: column;
    left: 0px;
    top: 0px;

    &:hover{
      width: 250px;
    }
  }

  &-card {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
    overflow: hidden;

    &:hover {
      background-color: #20170e;
    }

    &.selected{
      background-color: #20170e;
    }

    &.selected:hover{
      background-color: #110c08;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      column-gap: 10px;
      padding: 10px 12px;
      width: 100%;
      font-size: 28px;
      color: white;
      position: relative;
      transition: all 0.8s cubic-bezier(0.22, 1, 0.36, 1);
      transition-delay: 0.8s;
    }
  }
}
