<div class="system-menu">
  <div class="system-menu-container">
    <div class="system-menu-container-destaques">
      <div class="system-menu-container-destaques-imagem">

      </div>
      <div class="system-menu-container-destaques-circles">

      </div>
    </div>
    <div class="system-menu-container-category">
      <div class="system-menu-container-category-list">
        <div (click)="systemService.changeCurrentCategory(category.id)" *ngFor="let category of categories" class="system-menu-container-category-list-item">
          {{ category.name }}
        </div>
      </div>
    </div>
    <div class="system-menu-container-lista">
      <div *ngFor="let product of products" class="system-menu-container-lista-item">
        <div class="system-menu-container-lista-item-image">
          <img [src]="product.image" alt="" width="100">
        </div>
        <div class="system-menu-container-lista-item-description">
          <div class="system-menu-container-lista-item-description-title">
            {{ product.name }}
          </div>
          <div class="system-menu-container-lista-item-description-price">
            {{ product.price }}
          </div>
          <div class="system-menu-container-lista-item-description-igredients">
            Pão com gergelim, 2 hambúrgueres, tomate, alface e fatias de cheddar.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>