<div class="system-menu">
  <div class="system-menu-container">
    <div class="system-menu-container-destaques">
      <div class="system-menu-container-destaques-imagem">

      </div>
      <div class="system-menu-container-destaques-circles">

      </div>
    </div>
    <div class="system-menu-container-categorias">
      <div class="categoria">
        Lanches
      </div>
    </div>
    <div class="system-menu-container-lista">
      <div class="system-menu-container-lista-item">
        <div class="system-menu-container-lista-item-image">
          <img src="../../../assets/images/logo-white.png" alt="">
        </div>
        <div class="system-menu-container-lista-item-description">
          <div class="system-menu-container-lista-item-description-title">
            Hambúrger Duplo Cheddar
          </div>
          <div class="system-menu-container-lista-item-description-price">
            R$ 34,99
          </div>
          <div class="system-menu-container-lista-item-description-igredients">
            Pão com gergelim, 2 hambúrgueres, tomate, alface e fatias de cheddar.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>