<ng-container *ngIf="dataTotal.length === 0">
  <p class="admin-table-not-data">Não há nenhum dado inserido até o momento.</p>
</ng-container>
<div class="admin-table" *ngIf="dataTotal.length > 0">
  <div class="admin-table-header">
    <ng-container *ngFor="let option of options">
      <div
        class="admin-table-header-column actions"
        *ngIf="option.deleteButton || option.editButton || option.cancelButton"
      ></div>
      <div
        class="admin-table-header-column"
        *ngIf="
          !option.deleteButton && !option.editButton && !option.cancelButton
        "
      >
        {{ option.label }}
      </div>
    </ng-container>
  </div>
  <div class="admin-table-body">
    <ng-container *ngFor="let d of dataTable">
      <div class="admin-table-body-data">
        <ng-container *ngFor="let option of options">
          <ng-container
            *ngIf="
              option.deleteButton || option.editButton || option.cancelButton
            "
          >
            <div class="admin-table-body-data-column actions">
              <ng-container *ngIf="option.editButton">
                <app-button size="normal" (clicked)="editClick.emit(d)"
                  ><i class="bi bi-pen"></i
                ></app-button>
              </ng-container>
              <ng-container *ngIf="option.deleteButton">
                <app-button size="normal" (clicked)="deleteClick.emit(d)"
                  ><i class="bi bi-trash"></i
                ></app-button>
              </ng-container>
              <ng-container *ngIf="option.cancelButton">
                <app-button size="normal" (clicked)="cancelClick.emit(d)">
                  <i class="bi bi-x-octagon-fill"></i>
                </app-button>
              </ng-container>
            </div>
          </ng-container>
          <ng-container *ngIf="option.imageColumn">
            <div class="admin-table-body-data-column image">
              <img [src]="d[option.imageColumn]" alt="Imagem" />
            </div>
          </ng-container>
          <ng-container *ngIf="option.statusColumn">
            <div class="admin-table-body-data-column">
              <div
                class="admin-table-body-data-column-status finished"
                *ngIf="d[option.statusColumn] === 'finished'"
              >
                {{ d[option.statusColumn] | orderStatus }}
              </div>
              <div
                class="admin-table-body-data-column-status canceled"
                *ngIf="d[option.statusColumn] === 'canceled'"
              >
                {{ d[option.statusColumn] | orderStatus }}
              </div>
              <div
                class="admin-table-body-data-column-status doing"
                *ngIf="d[option.statusColumn] === 'doing'"
              >
                {{ d[option.statusColumn] | orderStatus }}
              </div>
              <div
                class="admin-table-body-data-column-status pending"
                *ngIf="d[option.statusColumn] === 'pending'"
              >
                {{ d[option.statusColumn] | orderStatus }}
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="option.tableStatusColumn">
            <div class="admin-table-body-data-column">
              <div
                class="admin-table-body-data-column-status finished"
                *ngIf="+d[option.tableStatusColumn] === 0"
              >
                {{ d[option.tableStatusColumn] | tableStatus }}
              </div>
              <div
                class="admin-table-body-data-column-status canceled"
                *ngIf="+d[option.tableStatusColumn] === 1"
              >
                {{ d[option.tableStatusColumn] | tableStatus }}
              </div>
            </div>
          </ng-container>
          <ng-container *ngIf="option.moneyColumn">
            <div class="admin-table-body-data-column">
              {{ d[option.moneyColumn] | currency }}
            </div>
          </ng-container>
          <ng-container *ngIf="option.userPermissionColumn">
            <div class="admin-table-body-data-column">
              {{ d[option.userPermissionColumn] | userPermission }}
            </div>
          </ng-container>
          <ng-container *ngIf="option.dateColumn">
            <div class="admin-table-body-data-column">
              {{ d[option.dateColumn] | date: "short" }}
            </div>
          </ng-container>
          <ng-container *ngIf="option.column">
            <div class="admin-table-body-data-column">
              {{ d[option.column] }}
            </div>
          </ng-container>
        </ng-container>
      </div>
    </ng-container>
  </div>
  <div class="admin-table-footer">
    <button
      class="admin-table-footer-arrow"
      [disabled]="!hasPreviewPage()"
      (click)="previewPage()"
    >
      <i class="bi bi-chevron-left"></i>
    </button>
    <div class="admin-table-footer-page">
      Página {{ page }} {{ pageCount > 1 ? "de " + pageCount : "" }}
    </div>
    <button
      class="admin-table-footer-arrow"
      [disabled]="!hasNextPage()"
      (click)="nextPage()"
    >
      <i class="bi bi-chevron-right"></i>
    </button>
  </div>
</div>
