.admin-orders-list {
    &-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 30px;
      font-weight: 400;

      &-actions{
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }
}