.app-system-navbar {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  background-color: #c8b4b4;
  gap: 2px;

  .navbar-item {
    flex: 1;
    color: #530f0f;
    background-color: rgb(251, 251, 251);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 42px;

    &.selected {
      background-color: #530f0f;
      color: #FFF;
    }
  }
}