<div class="app-navbar">
  <div class="app-header">
    <div class="app-logo">
      <img src="../../../../assets/images/logo-white.png" alt="">
    </div>
    <div class="app-user">
      <i class="bi bi-person-fill"></i>
    </div>
  </div>
  <div class="app-sidebar">
    <div class="sidebar-card dashboard">
      <a href="">
        <i class="bi bi-bar-chart-fill"></i>
      </a>
    </div>
    <div class="sidebar-card shopping selected">
      <a href="">
        <i class="bi bi-cart-fill"></i>
      </a>
    </div>
    <div class="sidebar-card category">
      <a href="">
        <i class="bi bi-bookmarks-fill"></i>
      </a>
    </div>
    <div class="sidebar-card products">
      <a href="">
        <i class="bi bi-archive-fill"></i>
      </a>
    </div>
    <div class="sidebar-card table">
      <a href="">
        <i class="bi bi-qr-code"></i>
      </a>
    </div>
    <div class="sidebar-card users">
      <a href="">
        <i class="bi bi-person-fill-gear"></i>
      </a>
    </div>
  </div>
</div>