<div class="system-order">
  <div class="system-order-container">
    <div class="system-order-container-title">
      <h1>Revise o seu pedido</h1>
      <h2>Total de itens: 4</h2> <!-- chumbado (precisa contar o índice no ngFor, algo assim)-->
    </div>
    <div class="system-order-container-list">
      <div class="system-order-container-list-item">
        <div>1x</div>
        <div>Cheddar Duplo Bacon</div>
        <div>38.99</div>
        <div>Pendente</div>
        <div>1x</div>
      </div>
      <div class="system-order-container-list-item">
        <div>1x</div>
        <div>Cheddar Duplo</div>
        <div>38.99</div>
        <div>Pendente</div>
        <div>1x</div>
      </div>
    </div>
    <div class="system-order-container-total">
      <p>TOTAL: </p> <div>95.00</div>
    </div>
    <div class="system-order-container-confirm">
      <app-button size="normal" type="submit">FAZER PEDIDO</app-button>
    </div>
  </div>
</div>