@import url('./styles/fonts.scss');

@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button, a, input, nav{
  font-family: 'SourceSansPro', sans-serif;
}

a{
  text-decoration: none;
}

$color-primary: #C70000;
$color-secondary: #563B20;
$color-black: #000000;
$color-white: #FBFBFB;
$color-success: #009C44;
$color-error: #C70000;
$color-info: #0081FF;
