@import url('./styles/fonts.scss');

@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body, button, a, input, nav{
  font-family: 'SourceSansPro', sans-serif;
}

a{
  text-decoration: none;
}

.form-group{
  width: 100%;
  display: flex;
  flex-direction: column;
  max-width: 365px;
  row-gap: 5px;

  label{
    font-size: 16px;
    font-weight: 500;
  }
}

@media (max-width: 768px) {
  .form-group{
    max-width: 265px;
  }
}

$color-primary: #20170E;
$color-secondary: #563B20;
$color-black: #000000;
$color-white: #FBFBFB;
$color-success: #009C44;
$color-error: #B10000;
$color-info: #0081FF;
