/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

$color-primary: #20170E;
$color-secondary: #563B20;
$color-black: #000000;
$color-white: #FBFBFB;
$color-success: #009C44;
$color-error: #B10000;
$color-info: #0081FF;
