<div class="login-screen">
  <div class="login-container">
    <img src="https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png" alt="https://cbissn.ibict.br/images/phocagallery/galeria2/thumbs/phoca_thumb_l_image03_grd.png">
    <h1>Login</h1>
    <div class="login-input" > 
      <input placeholder="E-mail" type="text" >
    </div>
    <div class="login-input" > 
      <input placeholder="Senha" type="password" >
    </div>
    <button class="btn-default">
      Entrar
    </button>
  </div>
</div>
